cloud_id = "cloud_id343534523423"
folder_id = "folder_id34234324534"
zone = "ru-central1-a"
image_id = "image_id324535345435"
public_key_path = "~/.ssh/ubuntu.pub"
private_key_path = "~/.ssh/ubuntu"
subnet_id = "subnet_id99834583409"
service_account_key_file = "key_tf.json"