{
    "service_account_key_file": "/home/otus/Desktop/key.json",
    "folder_id": "b1gfroh2tett7b3hdn78",
    "zone": "ru-central1-a",
    "subnet_id": "e9bnkiq5gta598jh0epj",
    "source_image_family": "ubuntu-1604-lts"
}